<section id="create-container">
    <div class="create-container-info">
        <h1>Create Blog</h1>
        <form action="/create" method="post">
            <label>Title:</label>
            <input name="title" type="text" id="title" value="{{data.title}}">

            <label>Image:</label>
            <input name="img" type="text" id="image" placeholder="http://..." value="{{data.img}}">

            <label>Content:</label>
            <textarea id="content" name="content">{{data.content}}</textarea>

            <label>Blog Category:</label>
            <input name="category" type="text" id="category" value="{{data.category}}">

            <input type="submit" id="btn" value="POST">
        </form>
    </div>
</section>